#sub4 {
  margin: 300px 0px;
  display: flex;
  color: white;
  #sub4-child1 {
    width: 40%;
    margin-left: 62px;
    img {
      position: absolute;
      z-index: -1;
    }
    h1 {
      font-family: Rubik;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
    }
    p {
      padding-top: 30px;
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
    }
  }
  #sub4-child2 {
    margin-left: 400px;
  }
}

.cardw {
  max-width: 500px;
  height: 55px;
  background-color: #2b1867;
  margin: 10px;
  border: 0.7px solid white;
}
